In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./desafio1.csv')

In [4]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [19]:
df.shape

(7000, 12)

In [207]:
detalhamento_estado = df.groupby('estado_residencia')['pontuacao_credito'].describe()
print(media_estado)

  Estado       Media
0     PR  648.961294
1     RS  651.105143
2     SC  649.537653

In [208]:
detalhamento_estado.to_json(r'teste.json')

In [209]:
media_estado = df.groupby('estado_residencia', as_index=False)['pontuacao_credito'].mean()

In [210]:
media_estado = media_estado.rename(columns={'estado_residencia':'Estado', 'pontuacao_credito':'media'})

In [211]:
print(media_estado)

  Estado       media
0     PR  648.961294
1     RS  651.105143
2     SC  649.537653

In [212]:
std_estado = df.groupby('estado_residencia')['pontuacao_credito'].std()

In [213]:
std_estado = std_estado.reset_index()

In [214]:
std_estado  = std_estado.rename(columns ={'estado_residencia':'Estado', 'pontuacao_credito':'desvio_padrao'})

In [215]:
print(std_estado)

  Estado  desvio_padrao
0     PR      98.607186
1     RS      95.136598
2     SC      97.233493

In [216]:
moda_estado = df.groupby('estado_residencia', as_index=False)['pontuacao_credito'].agg(pd.Series.mode)

In [217]:
moda_estado = moda_estado.rename(columns = {'estado_residencia':'Estado', 'pontuacao_credito':'moda'})

In [218]:
print(moda_estado)

  Estado  moda
0     PR   850
1     RS   850
2     SC   850

In [253]:
mediana_estado = df.groupby('estado_residencia', as_index=False)['pontuacao_credito'].median()

In [254]:
mediana_estado = mediana_estado.rename(columns = {'estado_residencia':'Estado', 'pontuacao_credito': 'mediana'})

In [255]:
print(mediana_estado)

  Estado  mediana
0     PR      650
1     RS      650
2     SC      653

In [256]:
resultado = pd.merge(moda_estado, mediana_estado, on=['Estado'], how='inner')

In [257]:
print(resultado)

  Estado  moda  mediana
0     PR   850      650
1     RS   850      650
2     SC   850      653

In [258]:
resultado_2 = pd.merge(media_estado, std_estado, on=['Estado'], how='inner')

In [259]:
print(resultado_2)

  Estado       media  desvio_padrao
0     PR  648.961294      98.607186
1     RS  651.105143      95.136598
2     SC  649.537653      97.233493

In [274]:
resultado_final = pd.merge(resultado, resultado_2, on='Estado', how='inner')

In [275]:
print(resultado_final)

  Estado  moda  mediana       media  desvio_padrao
0     PR   850      650  648.961294      98.607186
1     RS   850      650  651.105143      95.136598
2     SC   850      653  649.537653      97.233493

In [276]:
resultado_final = resultado_final.set_index('Estado')
#resultado_final = resultado_final.reset_index()

In [277]:
print(resultado_final)

        moda  mediana       media  desvio_padrao
Estado
PR       850      650  648.961294      98.607186
RS       850      650  651.105143      95.136598
SC       850      653  649.537653      97.233493

In [279]:
resultado_final.to_json(r'submission.json', orient='index')